.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .flex-row {
    display: flex;
    gap: 16px;
    flex: 1;
  }
  
  .flex-column {
    flex: 1;
    min-width: 0;  
  }
   
   
  @media (max-width:  768px) { 
    .flex-row {
      width: 100%;
    } 
    .flex-column {
        width:1000px;
        flex: 2;
    }
     
  } 
@media (max-width:  480px) {
    .flex-row {
        flex-direction: column;
    }  
}
      